/*
 * Estilos reutilizables
 */
/* Encabezado*/
header{
    position: fixed;
    background-color: #2C3E50;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}

.container{
    display: block;
    width: 100%;
    max-width: 1400px;
}

.link ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 90px;
    align-items: baseline;
    transition: padding 0.5s;
}
.link li{
  display: inline-block;
  padding: 10px;
  list-style: none;
}

.link li a{
  padding: 10px;
}

.nav{
  font-size: 35px;
  transition: all 0.5s;
}






































